# Data
data/input/transcript/*
!data/input/transcript/.gitkeep
data/output/*
!data/output/EXAMPLE_ATS_output_2024-07-03_12-48-40.tsv


# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*
